// reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// font
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

// style links
a {
    text-decoration: none;
    color: #000;
}

// style lists
ul {
    list-style: none;
}

// container sections
.container {
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



